<form action="/submit" method="POST">
        <table>
            <th>Shopping Cart Form</th>
            <tr>
                <td>Item: </td>
                <td><input type="text" name="item" id="item"></td>
            </tr>
            <tr>
                <td>Qty: </td>
                <td><input type="number" name="quantity" id="quantity"></td>
            </tr>
            <tr>
                <td>Unit Price: </td>
                <td><input type="number" name="price" id="price"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>

        </table>


    </form>


<table>
    <th>Shopping Cart Records</th>
    <tr>
        <td width="30%">Item</td>
        <td width="30%">Quantity</td>
        <td width="30%">Price</td>
    </tr>

</table>